body {
    background-color: black;
}
.cert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.background-img {
    object-fit: cover;
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}